[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/someone/Desktop/VBoxGuestAdditions.iso]
row=4
col=0

[4ef10bdd-ac5f-411d-b82f-dc56e7181c10]
row=0
col=0

[6D2A-9CC3]
row=1
col=0

[/]
row=2
col=0

[/home/someone]
row=3
col=0

